* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "wdth" 100;

}

body {
  min-height: 100vh;
  background-color: #B0956D;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 700px;
  padding-top: 80px;
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #000; 
}

.carrossel {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  width: 100%;
  padding: 0 1rem;
  scrollbar-width: none;
  
}

.card {
  width: 100%;
  
  max-width: 700px;
  scroll-snap-align: center;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

.img-card {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 40px;
  
}

.carrossel-setas {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
}

.seta {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 1;
}

.seta.esquerda {
  left: 20px;
}

.seta.direita {
  right: 20px;
}


.produtos-destaque {
  background-color: #CEC0A0;
  padding: 20px 20px;
  border-radius: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 150px;
  margin-top: 30px;
}



.produtos-destaque {
  flex-direction: column; /* Muda a direção para coluna */
  align-items: center; /* Alinha os itens no centro */
  height: auto; /* Ajusta a altura conforme necessário */
  margin-top: 15px; /* Ajuste do espaçamento superior */
  width: 50%;
  display: flex; /* Torna o container flexível */
  justify-content: center;
  margin-left: auto; /* Centraliza o container no eixo horizontal */
  margin-right: auto;
}

.produtos-destaque img {
  margin-bottom: 10px; /* Adiciona um espaçamento entre as imagens */
}



@media (max-width: 480px) {
  .carrossel {
    padding: 0 0.5rem; /* Diminui o padding nas laterais */
  }

  .card {
    aspect-ratio: 4 / 3; /* Mantém um formato mais alto */
  }

  .seta {
    padding: 8px 12px; /* um pouco menor */
  }

}
