* {
  margin:0;
  
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}

body {
  background-color: #B0956D;
}

.header {
  background-color: #CEC0A0;
  color: white;
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar {
  display: flex;
  gap: 20px;
  background-color: #CEC0A0;
  padding: 10px;
}

.sidebar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 20px;
}

a{
  padding: 20px;
  border-radius: 10px;

}

.carrinho{
  background-image: url(assets/icones/icone-carrinho.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.btn:hover {
  background-color: #000000b9;
  color: white;
  
}

.menu-btn {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}


/* Side bar Mobile */
@media (max-width: 768px) {
  .sidebar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    width: 200px;
    background-color: #cec0a0b2;
    z-index: 1;
  }

  .sidebar.show {
    display: flex;
  }

  .menu-btn {
    display: block;
  }

  
}

.container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  max-width: 1700px;
  min-width: 350px;
  padding-top: 20px;
  margin: 0 auto;
  overflow: hidden;
  height: 450px;
}

.seta {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  color: black;
  z-index: 1;
  border-radius: 50%;
}

.seta.esquerda {
  left: 10px;
}
.seta.direita {
  right: 10px;
}

.carrossel{
  display: grid;
  grid-auto-flow: column;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  border-radius: 20px;

}

.card{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: -moz-linear-gradient(-450px);
  scroll-snap-align:center;
  width: 1700px;
  height: 450px;
}

.card img{
  width: 100%;
  max-height: 100%;
}


@media (max-width: 768px) {
  .container{
    width: 700px;;
  }

  .card{
    display: flex;
    align-items: center;
    width: 631px;
  }

  .card img {
    width: 632px;
  }
}

@media (max-width: 425px) {
  .container{
    max-width: 100px;
  }
  .card{
    width: 400px;
  }
  .card img{
    width: 350px;
  }
}

@media (max-width: 375px) {
  .container{
    width: 50px;
    height: 250px;
    
  }
  .card {
    width: 350px;
    height: 200px;
  }
  .card img {
    width: 350px;
  }
  .seta {
    font-size: 1.5rem;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }

  .produtos-destaque{
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #CEC0A0;
    width: 92%;
    height: 1260px;
    margin: 0 auto;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    gap: 20px;
  }

  .produto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 390px;
    background-color: #EBE6D9;
    border-radius: 10px;
    padding-top: 15px;
    gap: 8px;

    
  }
  .produto img{
    width: 80%;
    border-radius: 10px;
    
  }

  .descricao-produto {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 15px;
    width: 80%;
    height: 60px;
    padding-top: 5px;
  }

  .preco-produto{
    display: flex;
    justify-content: start;
    width: 240px;
  }
  
  .btn-add-sacola {
    appearance: none;
    border: solid 1px black;
    width: 240px;
    font-size: 18px;
    border-radius: 5px;
    padding: 5px;

  }
  
  .btn-add-sacola:hover{
    background-color: #B0956D;
    color: white;
  }
}
