* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    background-color: #B0956D;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .top-bar {
    width: 100%;
    padding: 20px;
    
  }
  
  .logo-section {
    background-color: #EBEBD3;
    height: 350px; 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  
  .logo-section img {
    width: 500px;
    height: auto;
    
  }
  
  .login-box {
    background-color: #CEC0A0;
    padding: 10px 20px;
    border-radius: 15px;
    margin-top: 40px;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  
  .btn {
    background-color: #926A3A;
    border: none;
  }

  .login-box .forgot-password {
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    color: white;
    text-decoration: none;
  }
  
